@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* SECTION SPACING FIX */
section {
  padding: 90px 0;
  scroll-margin-top: 90px;
}

/* selection */
::selection {
  background: #2563eb;
  color: white;
}

/* smooth image */
img {
  user-select: none;
}